        
.product-slider-container {
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.product-slider {
    width: 1800px;
    display: flex;
    gap: 30px;
    scroll-behavior: smooth;
    overflow-x: auto;
    padding-bottom: 20px;
}

/* Hide scrollbar */
.product-slider::-webkit-scrollbar {
    display: none;
}

.product-card {
    width: 450px;
    max-height: 700px;
    height: 550px;
    background: var(--content-1-clr);
    border-radius: 12px;
    padding: 25px;
    color: white;
    flex-shrink: 0;
    transition: transform .30s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 250px;
    object-fit: contain;

}

.product-info {
    margin-top: 10%;
    text-align: center;
}



.product-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-category {
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 15px;
    justify-self: center;
    color: var(--text-primary);
    display: inline-block;
    margin: 0 0 20px 0;
}

.category-storage { background-color: #FF6B6B; }    
.category-case { background-color: #6BCB77; }       
.category-ram { background-color: #4D96FF; }          
.category-motherboard { background-color: #FFD93D; }   
.category-gpu { background-color: #FF6EC7; }          
.category-cpu { background-color: #FFA500; }          
.category-cooler { background-color: #00CED1; }       
.category-psu { background-color: #FF7F50; }        

.star {
    font-size: 1.5rem;
    color: #555;
}
.star.filled {
    color: #ff0099;
}

.product-price {
    margin-top: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF3D7F;
}

/* Slider buttons */
.slider-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: #FF3D7F;
    border: none;
    color: white;
    font-size: 28px;
    padding: 10px 22px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.slider-btn.left {
    left: 50px;
}
.slider-btn.right {
    right: 50px;
}

.slider-btn:hover {
    background: #FF3D7F;
}


